<div class="header">
  <div class="button">
    <%= link_to 'New Client', "/clients/new" %>
  </div>
  <div class="button">
    <%= link_to 'Log New Session', "/sessions/new" %>
  </div>
</div>

<div class="body">
  <div class="container">
      <% @clients.each do |t| %>
        <div class="client">
          <div class="client-info">
            <img class="photo" src="<%= t.image %>"><br>
            <span class="name"><%= t.first_name %> <%= t.last_name %> <%= t.id %><br></span><br>
            <%= link_to "Learn more", client_path(t) %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<div class="footer">
  This is the footer
</div>
