<div class="back">
  <a href="/clients">Back</a><br>
</div>

<div>
  <span>
    <h1><%= @client.first_name %> <%= @client.last_name %> <%= @client.id %> (<%= link_to "Edit", edit_client_path(@client) %>)</h1>
  </span>
  <div class="bio">
    <h3> Biographical Information</h3>
    Email: <%= @client.email %><br>
    Phone: <%= @client.phone %><br>
    injuries: <%= @client.injuries %><br>
    Notes: <%= @client.notes %><br>
  </div><br><br>

  <div class="session-row">
    <% @sessions.each do |d| %>
      <div class="card">
        <%= link_to "Edit", edit_session_path(d) %><br><br>
        Date: <%= d.date %><br>
        Location: <%= d.location %><br>
        Price: <%= d.price %><br>
        Notes: <%= d.notes %><br>
        Session ID: <%= d.id %><br>
      </div><br><br>
    <% end %>
  </div>
</div>
